<div class="jumbotron">
  <h2>Click</h2>
  <p class="lead">The most sophisticated click counter ever.</p>

  <a id="click-count" class="btn btn-default" href=""><%= @clicks %></a>
</div>

<script>
  window.CLICKS_URL = "<%= @url %>";
</script>
